@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<head>
    <title>MVC FullCalendar Implementation Example</title>
    <link rel='stylesheet' type='text/css' href='~/Content/fullcalendar.css' />
    <script type='text/javascript' src='~/scripts/jquery-2.1.0.min.js'></script>
    <script type='text/javascript' src='~/scripts/fullcalendar.js'></script>
</head>
<h2>MVC Calendar and ICal Combo Example</h2>

<div id="calendar"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            events: "@Url.Action("GetCalendarEvents/")"
        });
    });
</script>